@import 'sulu-admin-bundle/containers/Application/colors.scss';

.buttons {
    display: flex;
    flex-wrap: wrap;

    > * {
        flex: 1;
        margin-top: 20px;
    }
}

.icon {
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
}

.error-message {
    font-size: 14px;
    padding: 10px;
    color: $persianRed;
    text-align: center; 
}